:root {
    --width-center: 1000px
}

.w800 {
    max-width: var(--width-center);
    min-width: var(--width-center);
}

.div-center {
    margin: 0 auto;
    text-align: center;
}

#theGrid {
    height: 700px;
}

.banner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
}

.btn-default {
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
}

#notice {
    text-align: left;
    color: grey;
    font-style: italic;
    font-size: 12px;
}

.float-right {
    float: right;
}

#groups {
    padding: 6px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnExportToExcel {
    width: 100%;
}

.checkbox-sheet {
    float: left;
}

a[rel="noopener"],
div[style^="position: fixed"] {
    display: none;
}