:root {
    --width-center: 800px
}

.w800 {
    max-width: var(--width-center);
    min-width: var(--width-center);
}

.div-center {
    margin: 0 auto;
    text-align: center;
}

#theGrid {
    height: 500px;
}

.banner-sort {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
}

.btn-sort {
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
}

#notice {
    text-align: left;
    color: grey;
    font-style: italic;
    font-size: 12px;
}

.float-right {
    float: right;
}
a[rel="noopener"]{
    display: none;
}